{% extends "base.html" %}

{% block body %}
<form class="new-post-form" method="post">
    <input type="text" class="text-field" id="help-field" name="title" placeholder="I need help with....">
    <input type="text" class="text-field" id="location-field" name="location" placeholder="Location">
    <div class="urgency-options">
        <div class="option">
            <label for="not-urgent">I need help but can continue working in the meantime</label>
            <input type="radio" name="role" id="not-urgent" value="0" checked="checked">
        </div>
        <div class="option">
            <label for="urgent">I am unable to move forward until I have help</label>
            <input type="radio" name="role" id="urgent" value="1">
        </div>
    </div><br>
    <div><button class="post-button button" type="submit">I have already tried googling this issue</button></div>
</form>
{% endblock %}
